.wp-block-site-logo.is-default-size img {
    height: auto;
    width: 230px;
}

h2.wp-block-post-title {
	font-size: smaller !important;
}

.page-id-388 h2.wp-block-post-title,
.page-id-99 h2.wp-block-post-title {
	display: none;
}
.wp-block-post-navigation-link a {
    font-size: smaller !important;
}

.port-vimeo {
	padding:100% 0 0 0;
	position:relative;
}
.vim-iframe {
	position:absolute;
	top:0;left:0;
	width:100%;
	height:100%;
}