/* Basics */

body {
  background: white;
  color: #272f36;
  font-family: 'Playfair Display', serif;
  font-size: 89%;
}

a {
  text-decoration: none;
  color: #ed413d;
}
a:hover {
  text-decoration: underline;
}

/* General Sizing */

#pagecontent {
  width: 1071px;
}

#mainheader {
  margin: 25px auto;
}

#mainheader #headercolumn2 {
  margin-top: 50px;
}

.fullpagecontent p {
  width: 80%;
}

.aligncenter {
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

/* Header */

#sharinglogo {
  display: none;
}

#mainheader h1,
#mainheader h2 {
  display: none;
}

.nav-divider {
  font-weight: bold;
  color: #272f36;
  float: right;
  margin: auto 8px;
}

.main-menu   {
  height: 30px; /* set to the height you want your menu to be */
  margin: 0 0 10px; /* just to give some spacing */
  float: right;
  font-weight: bold;
  font-size: 1.1em;
  text-transform: lowercase;
}
.main-menu ul    {
  margin: 0; padding: 0; /* only needed if you have not done a CSS reset */
}
.main-menu li    {
  display: inline;
  float: left;
  line-height: 30px; /* this should be the same as your #main-nav height */
  height: 30px; /* this should be the same as your #main-nav height */
  margin: 0; padding: 0; /* only needed if you don't have a reset */
  position: relative; /* this is needed in order to position sub menus */
}
.main-menu li a  {
  display: block;
  height: 30px;
  line-height: 30px;
  color: #272f36;
}
.main-menu li a:hover  {
  color: #ed413d !important;
}
.main-menu .current-menu-item a, #main-nav .current_page_item a, #main-nav a:hover {
  text-decoration: underline;
  color: #ed413d !important;
  }
.main-menu .menu-item-last .nav-divider {display:none;} {
  display: none;
}

#mainbody {
  margin: 25px auto;
}

#mainbody h1,
#mainbody h2,
#mainbody h3,
#mainbody h4,
#mainbody h5,
#mainbody h6 {
  text-transform: lowercase;
  margin: 10px 0;
}

#mainbody h1,
#mainbody h2,
#mainbody h3 {
  font-size: 2.0em;
}

#mainbody h4 {
  font-size: 1.6em;
}

#mainbody h5 {
  font-size: 1.1em;
}

#mainbody h6 {
  font-size: 1.0em;
}

.breadcrumbs {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 1.1em;
}

.workarchivebc {
  color: #272f36 !important;
}
.workarchivebc {
  text-decoration: none !important;
}

.portfolio-entry-title {
  font-size: 1.2em !important;
  text-align: center;
}

.portfolio-entry-title a {
  color: #272f36 !important;
  font-weight: 200;
}

.portfolio-entry-title a:hover {
  color: #ed413d !important;
  text-decoration: underline !important;
}

#mainfooter {
  font-size: 1.1em;
  font-weight: bold;
  margin: 25px auto;
}
.red {color: #ed413d;}
.blue {color: #00afec;}