.wp-block-site-logo.is-default-size img {
    height: auto;
    width: 230px;
}

h2.wp-block-post-title {
	font-size: smaller !important;
	margin-bottom: 25px !important; /* If porttitle feature goes weird, this is why - Does it even worrk? */
}

.page-id-388 h2.wp-block-post-title,
.page-id-99 h2.wp-block-post-title {
	display: none;
}
.wp-block-post-navigation-link a {
    font-size: smaller !important;
}
