div.portfolio-entry {
	margin-bottom: 10px;
}

.home h2.portfolio-entry-title {
	display: none !important;
}

.wp-post-image {
	image-rendering: high-quality;
}

.wp-post-image { /* remove from portfolio page head or fix when do style */
	aspect-ratio: 16 / 9;
	object-fit: cover;
}
/* code to add the column etc
	.wp-post-image {}
 */
 .featured-bar {
	padding: 0;
	margin: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #e7e6e0;
	display: flex;
}
.featured-bar-inner {
	padding: 0;
	margin: 0;
	width: 50%;
	height: auto;
	float: left;
	flex: 1;
}
.headingtext .wp-block-post-title {
	position: relative;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	color: #dad9d3 !important;
	font-size: 45pt !important;
	width: 125%;
	overflow: hidden;
	margin-bottom: -100%;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.port-proj {
	margin-bottom: 15px;
}
.port-col {}
.vim-col {}
.port-vimeo {
	padding:56.25% 0 0 0;
	position:relative;
	object-fit: cover;
}
.port-vimeo iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.text-col {
	width: 60%;
}
